<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="PaymentWebServices.Bedas" behaviorConfiguration="defaultServiceBehavior">
        <endpoint name="http" binding="basicHttpBinding" bindingNamespace="http://fatura.bedas.gov.tr" address="http" contract="PaymentWebServices.IBedas"></endpoint>
      </service>
      <service name="PaymentWebServices.Iski" behaviorConfiguration="defaultServiceBehavior">
        <endpoint name="ws" binding="wsHttpBinding" bindingNamespace="http://odeme.online.iski.gov.tr" address="ws" contract="PaymentWebServices.IIski"></endpoint>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
