<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="RouteMappingFile" value="C:\Mehmet\DynamicServices\DynamicWCFServiceApp\Config\route-mappings.xml"/>
    <add key="DynamicSwsdl" value="C:\Mehmet\DynamicServices\DynamicWCFServiceApp\Config\payment.xml"/>
    <add key="DynamicInvocationHandler" value="DynamicWebServiceApp.Handler.PaymentHandler, DynamicWebServiceApp"/>
    <add key="DynamicInvocationHandlerMode" value="Singleton"/>
  </appSettings>
    <system.web>
      <globalization culture="en-GB" uiCulture="en-GB"/>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
</configuration>
